<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-danger mt-3" [routerLink]="['/']">Ir al inicio</a>

            <h2 class="text-center">
                T&eacute;rminos y Condiciones de Uso</h2>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";'>&nbsp;</p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&Uacute;ltima actualizaci&oacute;n: 8 de junio de 2024</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">1.
                    Introducci&oacute;n</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Bienvenido a nuestra plataforma. Estos T&eacute;rminos y Condiciones
                    (&quot;T&eacute;rminos&quot;) regulan el uso de nuestros servicios, incluyendo el registro de
                    tr&aacute;fico
                    de
                    usuario, el acceso a Internet a trav&eacute;s de un Portal Cautivo, y el uso de nuestra plataforma
                    ItcaConnect,
                    que permite visualizar el tr&aacute;fico, ver puntos de inter&eacute;s, chatear con la
                    administraci&oacute;n,
                    ver el calendario de eventos y acceder a preguntas frecuentes. Al utilizar nuestros servicios, usted
                    acepta
                    cumplir con estos T&eacute;rminos.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">2.
                    Aceptaci&oacute;n de los T&eacute;rminos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Al
                    acceder o utilizar cualquier parte de nuestros servicios, usted acepta estar sujeto a estos
                    T&eacute;rminos.
                    Si
                    no est&aacute; de acuerdo con alguna parte de los T&eacute;rminos, no debe acceder o utilizar
                    nuestros
                    servicios.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">3.
                    Servicios Ofrecidos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">3.1
                    Registro de Tr&aacute;fico de Usuario</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Nuestra
                    plataforma registra y monitorea el tr&aacute;fico de los usuarios con fines anal&iacute;ticos y de
                    seguridad. La
                    informaci&oacute;n recopilada puede incluir, pero no se limita a, direcciones IP, datos de
                    navegaci&oacute;n
                    y
                    actividad en l&iacute;nea.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">3.2
                    Portal Cautivo</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Proporcionamos acceso a Internet a trav&eacute;s de un Portal Cautivo.
                    Para
                    acceder a
                    Internet, los usuarios deben autenticarse seg&uacute;n los m&eacute;todos proporcionados (e.g.,
                    login, redes
                    sociales).</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">3.3
                    Plataforma ItcaConnect</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">ItcaConnect es una plataforma multifuncional que ofrece las siguientes
                    caracter&iacute;sticas:</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Visualizaci&oacute;n del Tr&aacute;fico: Permite a los usuarios ver su
                    tr&aacute;fico
                    en la red.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Puntos
                    de Inter&eacute;s: Informaci&oacute;n sobre puntos de inter&eacute;s locales.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Chat
                    con Administraci&oacute;n: Comunicaci&oacute;n directa con el equipo administrativo.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Calendario de Eventos: Acceso a un calendario con eventos
                    programados.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Preguntas Frecuentes: Respuestas a preguntas comunes sobre el uso de
                    nuestros
                    servicios.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">4.
                    Uso
                    Aceptable</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">4.1
                    Conducta del Usuario</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Usted
                    se compromete a utilizar nuestros servicios de manera legal y &eacute;tica. Est&aacute;
                    prohibido:</span>
            </p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Acceder
                    a datos no autorizados.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Interferir con el funcionamiento de nuestros servicios.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Utilizar nuestros servicios para actividades ilegales.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">4.2
                    Registro y Seguridad</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Usted
                    es responsable de mantener la confidencialidad de su informaci&oacute;n de acceso. Debe notificar de
                    inmediato
                    cualquier uso no autorizado de su cuenta.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">5.
                    Privacidad</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">5.1
                    Recolecci&oacute;n de Datos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Recopilamos datos personales y de tr&aacute;fico seg&uacute;n se describe
                    en
                    nuestra
                    Pol&iacute;tica de Privacidad.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">5.2
                    Uso
                    de Datos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Los
                    datos recopilados se utilizan para mejorar nuestros servicios, proporcionar soporte al usuario y
                    garantizar
                    la
                    seguridad de la plataforma.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">5.3
                    Compartici&oacute;n de Datos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Podemos
                    compartir datos con terceros conforme a nuestra Pol&iacute;tica de Privacidad, por ejemplo, con
                    proveedores
                    de
                    servicios y para cumplir con obligaciones legales.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">6.
                    Limitaci&oacute;n de Responsabilidad</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">6.1
                    Exclusi&oacute;n de Garant&iacute;as</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Nuestros servicios se proporcionan &quot;tal cual&quot; y
                    &quot;seg&uacute;n
                    disponibilidad&quot;. No garantizamos que nuestros servicios sean ininterrumpidos, seguros o libres
                    de
                    errores.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">6.2
                    Limitaci&oacute;n de Da&ntilde;os</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">En
                    la
                    medida permitida por la ley, no seremos responsables de da&ntilde;os indirectos, incidentales,
                    especiales,
                    consecuentes o punitivos, incluso si hemos sido informados de la posibilidad de tales
                    da&ntilde;os.</span>
            </p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">7.
                    Modificaciones de los T&eacute;rminos</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Nos
                    reservamos el derecho de modificar estos T&eacute;rminos en cualquier momento. Las modificaciones
                    ser&aacute;n
                    efectivas al publicarse en nuestra plataforma. Es su responsabilidad revisar estos T&eacute;rminos
                    peri&oacute;dicamente. El uso continuado de nuestros servicios despu&eacute;s de cualquier cambio
                    constituye
                    su
                    aceptaci&oacute;n de los nuevos T&eacute;rminos.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">8.
                    Terminaci&oacute;n</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Podemos
                    suspender o terminar su acceso a nuestros servicios en cualquier momento, sin previo aviso, por
                    cualquier
                    motivo, incluyendo, pero no limitado a, la violaci&oacute;n de estos T&eacute;rminos.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">9.
                    Ley
                    Aplicable y Jurisdicci&oacute;n</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Estos
                    T&eacute;rminos se rigen por las leyes aplicables en nuestra jurisdicci&oacute;n. Cualquier disputa
                    que
                    surja en
                    relaci&oacute;n con estos T&eacute;rminos estar&aacute; sujeta a la jurisdicci&oacute;n exclusiva de
                    los
                    tribunales competentes en nuestra jurisdicci&oacute;n.</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">&nbsp;</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">10.
                    Contacto</span></p>
            <p style='margin:0in;font-size:16px;font-family:"Courier New";line-height:150%;'><span
                    style="line-height:150%;">Si
                    tiene alguna pregunta o inquietud sobre estos T&eacute;rminos, por favor contacte a nuestro equipo
                    de
                    soporte a
                    trav&eacute;s de ItcaConnect.</span></p>
            <p><span style='font-size:16px;line-height:150%;font-family:"Courier New";'><br>&nbsp;</span></p>
        </div>
    </div>
</div>