<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul>
      <li>
        <a href="/" routerLinkActive="active">
          <span class="menu-icon material-icons">home</span>
          <span class="menu-text">Inicio</span>
        </a>
      </li>
      <li>
        <a href="/calendar" routerLinkActive="active">
          <span class="menu-icon material-icons">schedule</span>
          <span class="menu-text">Calendario</span>
        </a>
      </li>
      <li>
        <a href="/chat" routerLinkActive="active">
          <span class="menu-icon material-icons">chat</span>
          <span class="menu-text">Chat</span>
        </a>
      </li>
      <li>
        <a href="/map" routerLinkActive="active">
          <span class="menu-icon material-icons">map</span>
          <span class="menu-text">Mapa</span>
        </a>
      </li>

      <li>
        <a routerLinkActive="active" (click)="toggleSubmenu()">
          <span class="menu-icon material-icons">dashboard</span>
          <span class="menu-text">Administrar</span>
          <span class="sub-menu-icon" [ngClass]="{ 'sub-menu-open': isSubmenuOpen }">
            <mat-icon>{{ isSubmenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_right' }}</mat-icon>
          </span>
        </a>

        <ul *ngIf="isSubmenuOpen" class="sub-menu">
          <li><a href="/admin/events"><span class="menu-icon material-icons">event_available</span><span class="menu-text">Eventos</span></a></li>
          <li><a href="/admin/type-events"><span class="menu-icon material-icons">event_note</span><span class="menu-text">Tipo Eventos</span></a></li>
          <li><a href="/admin/campus"><span class="menu-icon material-icons">school</span><span class="menu-text">Campus</span></a></li>
          <li><a href="/admin/school"><span class="menu-icon material-icons">school</span><span class="menu-text">Escuelas</span></a></li>
          <li><a href="/admin/detail-campus-places"><span class="menu-icon material-icons">map</span><span class="menu-text">Lugares</span></a></li>
          <li><a href="/admin/places-type"><span class="menu-icon material-icons">map</span><span class="menu-text">Tipo lugares</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
<!-- <div class="barra-lateral">
  <div>
      <div class="nombre-pagina">
          <i class="pi pi-cloud" id="cloud" style="font-size: 2.5rem"></i>
          <span>ITCA CONNECT</span>
      </div>
      <button class="boton">
          <span>Create new</span>
      </button>
  </div>

  <nav class="navegacion">
      <ul>
          <li>
              <a id="inbox" href="#">
                <i class="pi pi-user" ></i>
                  <span>Inbox</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Starred</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Sent</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Drafts</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Important</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Spam</span>
              </a>
          </li>
          <li>
              <a href="#">
                <i class="pi pi-user" ></i>
                  <span>Trash</span>
              </a>
          </li>
      </ul>
  </nav>

  <div>
      <div class="linea"></div>

      <div class="modo-oscuro">
          <div class="info">
            <i class="pi pi-user" ></i>
              <span>Drak Mode</span>
          </div>
          <div class="switch">
              <div class="base">
                  <div class="circulo">

                  </div>
              </div>
          </div>
      </div>

      <div class="usuario">
          <img src="assets/avatar.png" width="50" height="50" alt="">
          <div class="info-usuario">
              <div class="nombre-email">
                  <span class="nombre">Jhampier</span>
                  <span class="email">ara</span>
              </div>
              <i class="pi pi-user" ></i>
          </div>
      </div>
  </div>

</div> -->
