<div class="contenedor text-center py-5">
    <div class="logo">
        <img alt="Google" src="assets/logoItca.png">
    </div>
    <form class="search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input type="text" class="search__input" formControlName="searchQuery" placeholder="Buscar...">
        <button class="mic__button" type="submit">
          <div class="mic__icon">
            <i class="pi pi-search" style="font-size: 20px"></i>
          </div>
        </button>
      </form>
    <div class="buttons">
        <span class="title">
            Busquedas Populares
        </span>
        <div class="row mt-4">
            <div class="col-sm-6 col-md-4 mb-3">
                <button>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <button >
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <button>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <button>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <button>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
            <div class="col-sm-6 col-md-4 mb-3">
                <button>
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front text"> Desarrollo 
                    </span>
                  </button>
            </div>
        </div>
           
          
    </div>
</div>
