$colorReceiver: #345395;

.chat-message {
    display: flex;
    flex-direction: column;
    background-color: $colorReceiver;
    border-radius: 5px;
    padding: 15px;
    width: auto;
    max-width: 50%;
    margin-top: 15px;
    color: white;
}