$totalHeight: calc(100vh - 40px - 60px - 50px);
$headerHeight: 40px;
$chatMessagesHeight: calc(100vh - 200px - $headerHeight);

.chat-interaction {
    width: 100%;
    height: $totalHeight;
}

.chat-header {
    width: 100%;
    height: $headerHeight;
}

.chat-messages {
    width: 100%;
    height: $chatMessagesHeight;
    overflow-y: scroll;
}

.input-message {
    width: 92%;
    border-color: red;
    margin-right: 3%;
    // border-radius: 5%;
    // height: 30px;
}