<div class="container-fluid">
    @if(!isLoading){
    @for(user of users; track user.email){
    <li class="user-chat row my-auto">
        <!-- <div class="col-4 col-md-2">
            <img src="{{user.photo}}" alt="user-profile" width="70px">
        </div> -->
        <div class="col-12 col-md-12 pt-1" (click)="getMessages(user)">
            <p class="p-0 m-0">{{labelChat(user.members[0])}}</p>
            <span class="pt-0 mt-0">{{user.carnet}}</span>
            <hr>
        </div>
    </li>
    } @empty {
    <li class="row">
        <div class="user-chat col-12">
            <p>Aún no tienes chats recientes.</p>
        </div>
    </li>
    }
    } @else {
    <div class="col-12 p-3 text-center">
        <app-loader />
    </div>
    }
</div>