<div class="container">
    <div class="row text-center">
        <div class="col-12 col-sm-12 col-md-6  mx-auto">
            <form [formGroup]="user" class="text-left mt-4 p-4">
                <div class="form">
                    <div class="title">Registrarse</div>
                    <div class="subtitle">Complete la información solicitada</div>
                    <hr style="color: #fff;">
                    <div class="input-container ic1">
                        <input id="first-name" type="text" formControlName="fullName" class="input" placeholder=" ">
                        <label class="iLabel">Nombre</label>
                    </div>
                    <div class="input-container ic2">
                        <input id="first-name" type="text" formControlName="userId" class="input" placeholder=" ">
                        <label class="iLabel">Carnet</label>
                    </div>
                    <div class="input-container ic2">
                        <p-dropdown [options]="careers" placeholder="Carrera " styleClass="w-100"
                            formControlName="careerId" optionLabel="name" optionValue="id" [autoDisplayFirst]="true" />
                    </div>
                    <div class="input-container ic2">
                        <input id="first-name" type="text" formControlName="email" class="input" placeholder=" ">
                        <label class="iLabel">Correo</label>
                    </div>

                    <div class="input-container ic2">
                        <input id="first-name" type="password" formControlName="userPassword" class="input"
                            placeholder=" ">
                        <label class="iLabel">Contraseña</label>
                    </div>
                    <p class="text-center mt-1 register">Ya tienes cuenta? <a [routerLink]="['/login']"
                            style="color: #B19233;">Inicia Sesión</a></p>
                    <button class="submit" type="text" (click)="register()">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row text-center">
        <div class="card col-12 col-sm-12 col-md-5 p-5 m-3 mx-auto">
            <h2>Registrarse</h2>

            <form [formGroup]="user" class="text-left mt-4">

                <div class="d-flex flex-column gap-2">
                    <label for="first-name">Nombre: </label>
                    <input id="first-name" pInputText type="text" formControlName="fullName">
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="carnet">Carnet: </label>
                    <input id="carnet" pInputText type="text" formControlName="username">
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="career">Carrera: </label>
                    <p-dropdown [options]="careers" formControlName="careerId" optionLabel="name" optionValue="id"
                        [autoDisplayFirst]="true" />
                </div>

                <div class="d-flex flex-column gap-2">
                    <label for="email">Correo electrónico: </label>
                    <input id="email" pInputText type="text" formControlName="email">
                </div>

                <div class="d-flex flex-column gap-2 mt-3">
                    <label for="password">Contraseña: </label>
                    <input id="password" pInputText type="password" formControlName="userPassword">
                </div>

                <div class="text-center mt-4">
                    <p>Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
                    <p-button label="Registrarse" [rounded]="true" (click)="register()"></p-button>
                </div>
            </form>
        </div>
    </div>
</div> -->