<div class="chat-interaction">
    <div class="chat-header">
        <h2>{{selectedUser ?? 'Administración'}}</h2>
    </div>
    <div class="chat-messages">
        @if(messages.length > 0){
        @for(mess of messages; track mess._id){
        <chat-message [message]="mess" [selectedChat]="selectedChat" />
        <!-- class="d-flex flex-row-reverse mx-right mx-3" -->
        } }
    </div>
    <div class="chat-footer">
        <div (keydown.enter)="sendMessage()" class="py-3">
            <input class="input-message" type="text" placeholder="Escribe un mensaje..." [formControl]="message">
            <a type="submit">Enviar</a>
        </div>
    </div>
</div>